<div>
    <nav class="navbar navbar-expand-md navbar-light custom-navbar sticky-top" id="home">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/logo-withoutbg.png"></a>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#workshops">Workshops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

    <div class="container-img">
      <img src="assets/img/background-middlev2.png" alt="Image">
      <div class="container-wrapper">
        <div class="header-container">
          <div class="font-inter-s12">ปรึกษาหากิจกรรมที่เหมาะสม<br>ติดต่อเพื่อพูดคุยกับทีมงาน</div>
        </div>
        <button type="button" class="font-inter-s20 btn btn-primary btn-lg" onclick="window.open('https://www.facebook.com/QuickTry', '_blank')">ติดต่อทีมงาน</button>
      </div>
    </div>

    <div class="container-1" id="workshops">
      <div class="text-container-center font-inter-b1 font-inter-s36">Live online workshops</div>
    </div>

    <div class="card-container">
      <div>
        <div class="row g-0 custom-card custom-card-navigate mb-4" *ngFor="let workshop of liveWorkshopList" (click)="redirectToForm('liveOnline')">
          <div class="col-md-5 img-center">
            <img [src]="workshop.img_url" class="img-fluid" [alt]="workshop.workshop_id" (error)="workshop.img_url = commonImageUrl">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="d-flex justify-content-between card-header-s1 font-inter-s20">
                <div class="card-text font-inter-orange">{{ workshop.workshop_type }}</div>
                <div class="card-text font-inter-orange">{{ workshop.workshop_date }}</div>
              </div>
              <h3 class="font-inter-b2 font-inter-s36">{{ workshop.workshop_name }}</h3>
              <div class="d-flex card-header-s2">
                <div class="font-inter-s20">{{ workshop.lecturer_name }}</div>
              </div>
              <div class="d-flex justify-content-between card-header-s1 font-inter-s20">
                <div><span class="fa-regular fa-user padding-r10"></span>{{ workshop.total_customers }}</div>
                <div><span class="fa-regular fa-clock padding-r10"></span>{{ workshop.duration }}</div>
                <div>{{ workshop.level }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divider-container">
      <hr class="divider">
    </div>

    <div *ngIf="recordWorkshopList.length > 0" class="container-1" id="workshops">
      <div class="text-container-center font-inter-b1 font-inter-s36">Record workshops</div>
    </div>

    <div class="card-container">
      <div>
        <div class="row g-0 custom-card custom-card-navigate mb-4" *ngFor="let workshop of recordWorkshopList" (click)="redirectToForm('record')">
          <div class="col-md-5 img-center">
            <img [src]="workshop.img_url" class="img-fluid" [alt]="workshop.workshop_id" (error)="workshop.img_url = commonImageUrl">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="d-flex justify-content-between card-header-s1 font-inter-s20">
                <div class="card-text font-inter-orange">{{ workshop.workshop_type }}</div>
                <div class="card-text font-inter-orange">{{ workshop.workshop_date }}</div>
              </div>
              <h3 class="font-inter-b2 font-inter-s36">{{ workshop.workshop_name }}</h3>
              <div class="d-flex card-header-s2">
                <div class="font-inter-s20">{{ workshop.lecturer_name }}</div>
              </div>
              <div class="d-flex justify-content-between card-header-s1 font-inter-s20">
                <div><span class="fa-regular fa-user padding-r10"></span>{{ workshop.total_customers }}</div>
                <div><span class="fa-regular fa-clock padding-r10"></span>{{ workshop.duration }}</div>
                <div>{{ workshop.level }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="recordWorkshopList.length > 0" class="divider-container">
      <hr class="divider">
    </div>

    <div class="container-1" id="feedback">
      <div class="text-container-center font-inter-b1 font-inter-s36">Feedback</div>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="cards-wrapper">
          <div class="card">
            <div class="card-body">
              <ul class="list-unstyled d-flex text-warning mb-0">
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
                <li><i class="fas fa-star fa-sm"></i></li>
              </ul>
              <div class="d-flex justify-content-between card-header-s2 font-inter-s20">
                <h5 class="card-title">Workshop ลองทำงานเป็น: นักจิตวิทยาคลินิก (วันที่ 28/10/2023)</h5>
              </div>
              <p class="card-text">ชอบการที่ได้วิเคราะห์เหตุการณ์สมมุติต่าง ๆ เพราะเหมือนเป็นการได้ฝึกทักษะการวิเคราะห์จริง ๆ และทำให้ได้รู้หลักการทำงานคร่าว ๆ ของนักจิตวิทยา ซึ่งกิจกรรมต่าง ๆ มีความหลากหลาย และน่าสนใจมากครับ ขอบคุณสำหรับกิจกรรมดี ๆ นะครับ โดยเฉพาะพี่ฟ้า ดูพี่ฟ้าใส่ใจน้อง ๆ มาก ดูพี่ฟ้าชอบตอบคำถามน้อง ๆ มากเลย บรรยากาศก็ดูเป็นกันเองมากเลยครับ เป็นการเปิดพื้นที่ให้ทุกคนได้แสดงความคิดเห็นมาได้จริง ๆ ไม่มีถูกผิด มีการใส่ใจในนักเรียนทุกคนให้มีส่วนร่วมในกิจกรรมด้วย เป็นกำลังใจให้พี่ฟ้าและทีมงานจัดกิจกรรมดี ๆ แบบนี้ต่อไปนะครับ 🙏🙏</p>
            </div>
          </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <div class="card-body">
                <ul class="list-unstyled d-flex text-warning mb-0">
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                </ul>
                <div class="d-flex justify-content-between card-header-s2 font-inter-s20">
                  <h5 class="card-title">Workshop ลองทำงานเป็น: นักจิตวิทยาการปรึกษา (วันที่ 6/1/2024)</h5>
                </div>
                <p class="card-text">ดีค่ะ การจัดกิจกรรมแบบนี้เปิดโอกาสให้ได้ค้นหาความชอบ ได้พบปะและพูดคุยกับคนในสายอาชีพนั้นจริง ๆ  อาจจะมีการจัดกิจกรรมต่อเนื่องเป็นหลายเซสชั่น ให้ได้เรียนรู้เป็นลำดับขั้นตอน มีความละเอียดของเนื้อหามากขึ้น</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <div class="card-body">
                <ul class="list-unstyled d-flex text-warning mb-0">
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="far fa-star fa-sm"></i></li>
                </ul>
                <div class="d-flex justify-content-between card-header-s2 font-inter-s20">
                  <h5 class="card-title">Workshop ลองทำงานเป็น: ทนายความ (วันที่ 23/3/2024)</h5>
                </div>
                <p class="card-text">ตอนได้ลองเขียนพินัยกรรมค่ะ คิดชื่อตัวละครแทบไม่ทัน วันนี้สนุกมาก ๆ เลยค่า ได้ความรู้ใหม่เยอะมากเลย ขอบคุณมาก ๆ นะคะ</p>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="cards-wrapper">
            <div class="card">
              <div class="card-body">
                <ul class="list-unstyled d-flex text-warning mb-0">
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="fas fa-star fa-sm"></i></li>
                  <li><i class="far fa-star fa-sm"></i></li>
                </ul>
                <div class="d-flex justify-content-between card-header-s2 font-inter-s20">
                  <h5 class="card-title">Workshop ลองทำงานเป็น: นักการทูต (วันที่ 5/5/2024)</h5>
                </div>
                <p class="card-text">ดีค่ะ การจัดกิจกรรมแบบนี้เปิดโอกาสให้ได้ค้นหาความชอบ ได้พบปะและพูดคุยกับคนในสายอาชีพนั้นจริง ๆ  อาจจะมีการจัดกิจกรรมต่อเนื่องเป็นหลายเซสชั่น ให้ได้เรียนรู้เป็นลำดับขั้นตอน มีความละเอียดของเนื้อหามากขึ้น</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="divider-container">
      <hr class="divider">
    </div>

    <div class="container-1" id="about">
      <div class="text-container-center font-inter-b1 font-inter-s36">About us</div>
    </div>

    <div class="card-container">
      <div>
        <div class="row g-0 custom-card mb-4">
          <div class="col-md-7">
            <div class="card-body">
              <div class="font-inter-s20 card-header-s1">
                จะเรียนต่อสายไหนดี ? เราทำงานสายนี้จะเหมาะกับเรามั้ย ? เราเข้าใจว่าหลาย ๆ การตัดสินใจคุณยังไม่มั่นใจในสิ่งที่ตัวเองกำลังจะเลือกขนาดนั้น <br><br> ให้เราช่วยเปิดประสบการณ์ ทำให้คุณมั่นใจมากขึ้นด้วยการมาลองสิ่งนั้นแบบไว ๆ กันเถอะ!
              </div>
              <div class="font-inter-orange font-inter-s36 card-header-s2">
                ถ้าอยากลองอะไรไว ๆ ให้นึกถึงเรา
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="assets/img/logo-withoutbg.png" class="img-aboutus">
          </div>
        </div>
      </div>
    </div>

    <footer class="footer bg-body-tertiary">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-6">
                  <div class="text-start p-3">
                      © 2024 QuickTry
                  </div>
              </div>
              <div class="col-md-6">
                  <ul class="nav justify-content-end list-unstyled d-flex">
                      <li class="ms-3"><a href="https://www.facebook.com/QuickTry"><span class="fa-brands fa-square-facebook footer-icon"></span></a></li>
                      <li class="ms-3"><a href="mailto:quicktry.team@gmail.com"><span class="fa-solid fa-envelope footer-icon"></span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>  
</div>
