.custom-navbar {
    background-color: #085290;
    height: 100px;
}

.navbar-brand {
    padding: 0px 40px;
}

.navbar-brand img {
    width: 160px;
    height: auto;
}

.navbar-nav {
    white-space: nowrap;
    padding: 0px 30px
}

.nav-item {
    padding: 0px 20px
}

.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: 24px;
}

.navbar-brand {
    width: 100vw !important;
    padding: 0%;
    margin-left: 2%;
}

.container-img {
    position: relative;
}

.container-img img {
    width: 100vw;
    height: auto;
    display: block;
}

.container-wrapper {
    width: 40%;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.container-wrapper button {
    width: 90%;
    border-radius: 25px;
    background-color: #e0561f;
}

.container-wrapper button:hover {
    background-color: #c0451b;
}

.container-wrapper div {
    color: white !important;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 80px;
}

.custom-card {
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.custom-card-navigate:hover {
    cursor: pointer;
}

.card-body {
    padding: 0px 30px;
}

.padding-r10 {
    padding-right: 8px;
}

.footer-icon {
    font-size: 36px;
    color: rgb(255, 255, 255);
}

.footer {
    background-color: #085290 !important;
    padding: 10px;
    color: white;
}

.icon-padding {
    padding: 10px;
}

.img-aboutus {
    width: 30vw;
    margin: 20px;
}

.card {
    width: 80%;
    height: 100%;
}

.card-body {
    margin: 5%;
}

.cards-wrapper {
    display: flex;
    justify-content: center;
  }
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  .card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
  }
  .carousel-inner {
    padding: 1em;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: #e1e1e1;
    width: 5vh;
    height: 5vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev-icon::after, 
  .carousel-control-next-icon::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  @media (min-width: 768px) {
    .card img {
      height: 11em;
    }
  }