<div>
    <nav class="navbar navbar-expand-md navbar-light custom-navbar sticky-top" id="home">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/img/logo-withoutbg.png"></a>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#workshops">Workshops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback">Feedback</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About us</a>
          </li>
        </ul>
      </div>
    </div>
    </nav>

    <div class="container-img">
        <img src="assets/img/background-middlev2.png" alt="Image">
    </div>

    <div class="container-1" id="workshops">
      <div class="text-container-center font-inter-b1 font-inter-s36">All workshops</div>
    </div>

    <div class="card-container">
      <div>
        <div class="row g-0 custom-card custom-card-navigate mb-4" *ngFor="let workshop of workshopList" (click)="redirectToForm()">
          <div class="col-md-6">
            <img [src]="workshop.img_url" class="img-fluid" [alt]="workshop.workshop_id" (error)="workshop.img_url = commonImageUrl">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <div class="d-flex justify-content-between card-header-s1 font-inter-s20">
                <div class="card-text font-inter-orange">{{ workshop.workshop_type }}</div>
                <div class="card-text font-inter-orange">{{ workshop.workshop_date }}</div>
              </div>
              <h3 class="font-inter-b2 font-inter-s36">{{ workshop.workshop_name }}</h3>
              <div class="d-flex card-header-s2">
                <div class="font-inter-s20">วิทยากร - คุณ{{ workshop.lecturer_name }}</div>
              </div>
              <div class="d-flex justify-content-between card-header-s1 font-inter-s20">
                <div><span class="fa-regular fa-user padding-r10"></span>{{ workshop.sum_customers }} / {{ workshop.max_customers }}</div>
                <div><span class="fa-regular fa-clock padding-r10"></span>{{ workshop.duration }}</div>
                <div>{{ workshop.level }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="divider-container">
      <hr class="divider">
    </div>

    <div class="container-1" id="feedback">
      <div class="text-container-center font-inter-b1 font-inter-s36">Feedback</div>
    </div>
      
    <mdb-carousel [controls]="true" [indicators]="true">
      <mdb-carousel-item>
        <img
          src="assets/img/feedback.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
          </ul>
          <br>
          <h2>Workshop ลองทำงานเป็น: นักจิตวิทยาคลินิก (วันที่ 28/10/2023)</h2>
          <br>
          <p>ชอบการที่ได้วิเคราะห์เหตุการณ์สมมุติต่าง ๆ เพราะเหมือนเป็นการได้ฝึกทักษะการวิเคราะห์จริง ๆ และทำให้ได้รู้หลักการทำงานคร่าว ๆ ของนักจิตวิทยา ซึ่งกิจกรรมต่าง ๆ มีความหลากหลาย และน่าสนใจมากครับ ขอบคุณสำหรับกิจกรรมดี ๆ นะครับ โดยเฉพาะพี่ฟ้า ดูพี่ฟ้าใส่ใจน้อง ๆ มาก ดูพี่ฟ้าชอบตอบคำถามน้อง ๆ มากเลย บรรยากาศก็ดูเป็นกันเองมากเลยครับ เป็นการเปิดพื้นที่ให้ทุกคนได้แสดงความคิดเห็นมาได้จริง ๆ ไม่มีถูกผิด มีการใส่ใจในนักเรียนทุกคนให้มีส่วนร่วมในกิจกรรมด้วย เป็นกำลังใจให้พี่ฟ้าและทีมงานจัดกิจกรรมดี ๆ แบบนี้ต่อไปนะครับ 🙏🙏</p>
          <br>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/feedback.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
          </ul>
          <br>
          <h2>Workshop ลองทำงานเป็น: นักจิตวิทยาการปรึกษา (วันที่ 6/1/2024)</h2>
          <br>
          <p>ดีค่ะ การจัดกิจกรรมแบบนี้เปิดโอกาสให้ได้ค้นหาความชอบ ได้พบปะและพูดคุยกับคนในสายอาชีพนั้นจริง ๆ  อาจจะมีการจัดกิจกรรมต่อเนื่องเป็นหลายเซสชั่น ให้ได้เรียนรู้เป็นลำดับขั้นตอน มีความละเอียดของเนื้อหามากขึ้น</p>
          <br>
          <br>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/feedback.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="far fa-star fa-sm"></i></li>
          </ul>
          <br>
          <h2>Workshop ลองทำงานเป็น: ทนายความ (วันที่ 23/3/2024)</h2>
          <br>
          <p>ตอนได้ลองเขียนพินัยกรรมค่ะ คิดชื่อตัวละครแทบไม่ทัน วันนี้สนุกมาก ๆ เลยค่า ได้ความรู้ใหม่เยอะมากเลย ขอบคุณมาก ๆ นะคะ</p>
          <br>
          <br>
          <br>
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img
          src="assets/img/feedback.png"
          class="d-block w-100"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <ul class="list-unstyled d-flex justify-content-center text-warning mb-0">
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="fas fa-star fa-sm"></i></li>
            <li><i class="far fa-star fa-sm"></i></li>
          </ul>
          <br>
          <h2>Workshop ลองทำงานเป็น: นักการทูต (วันที่ 5/5/2024)</h2>
          <br>
          <p>กิจกรรม Simulation และ practice skill development ทำให้เข้าใจภาพของอาชีพนักการทูตได้ดีเลยค่ะ ว่า skill ที่ต้องมีคืออะไร ควรรับมือและคำนึงถึงอะไรบ้าง ชอบที่ได้ลองทำงานเป็นคู่และกลุ่มค่ะ การระดมความคิดของหลายๆคนมันปังปุตามชื่อเกาะเลย555555 อาจจะเพราะส่วนตัวชอบฟังความเห็นหลาย ๆ คน มุมมองหลาย ๆ แบบด้วย ขอบคุณมาก ๆ นะคะที่จัดกิจกรรมดี ๆ แบบนี้มา อยากให้มีกิจกรรมแบบนี้อีกเยอะ ๆ เลยค่ะ</p>
          <br>
          <br>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>

    <div class="divider-container">
      <hr class="divider">
    </div>

    <div class="container-1" id="about">
      <div class="text-container-center font-inter-b1 font-inter-s36">About us</div>
    </div>

    <div class="card-container">
      <div>
        <div class="row g-0 custom-card mb-4">
          <div class="col-md-7">
            <div class="card-body">
              <div class="font-inter-s20 card-header-s1">
                จะเรียนต่อสายไหนดี ? เราทำงานสายนี้จะเหมาะกับเรามั้ย ? เราเข้าใจว่าหลาย ๆ การตัดสินใจคุณยังไม่มั่นใจในสิ่งที่ตัวเองกำลังจะเลือกขนาดนั้น <br><br> ให้เราช่วยเปิดประสบการณ์ ทำให้คุณมั่นใจมากขึ้นด้วยการมาลองสิ่งนั้นแบบไว ๆ กันเถอะ!
              </div>
              <div class="font-inter-orange font-inter-s36 card-header-s2">
                ถ้าอยากลองอะไรไว ๆ ให้นึกถึงเรา
              </div>
            </div>
          </div>
          <div class="col-md-5 d-flex justify-content-center align-items-center">
            <img src="assets/img/logo-withoutbg.png" class="img-aboutus">
          </div>
        </div>
      </div>
    </div>

    <footer class="footer bg-body-tertiary">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-md-6">
                  <div class="text-start p-3">
                      © 2024 QuickTry
                  </div>
              </div>
              <div class="col-md-6">
                  <ul class="nav justify-content-end list-unstyled d-flex">
                      <li class="ms-3"><a href="https://www.facebook.com/QuickTry"><span class="fa-brands fa-square-facebook footer-icon"></span></a></li>
                      <li class="ms-3"><a href="mailto:quicktry.team@gmail.com"><span class="fa-solid fa-envelope footer-icon"></span></a></li>
                  </ul>
              </div>
          </div>
      </div>
  </footer>  
</div>
